.header {
  padding: 1.25rem;
  background-color: var(--colorPalette03);
}

.header .link {
  text-decoration: none;
}

.header .btn {
  background-color: var(--colorPalette02);
  font-weight: 700;
}
